@model FribergCarRentals.Models.Booking

@{
    ViewData["Title"] = "BookingConfirmation";
}

<h1>Booking Confirmation</h1>

<div>
    <h4>@ViewBag.Result</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="BookingOverview">Back to Bookings</a>
</div>
