@model IEnumerable<FribergCarRentals.Models.Vehicle>

@{
    ViewData["Title"] = "Vehicles";
}

<h1>Vehicles available for rent</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            
            <td>
                <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                <a asp-action="BookingCreate" asp-controller="Customer" asp-route-id="@item.VehicleId">Book</a>
            </td>
        </tr>
}
    </tbody>
</table>
