@model IEnumerable<FribergCarRentals.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h2>Vehicle overview</h2>

<p>
    <a asp-action="Create">Create new vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            
        <tr>
             <td>
                    <img src=@item.ImageUrl alt="Vehicle image" style="max-width: 100px; max-height: 100px; width: auto; height: auto;" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            
            
        </tr>
        
        <tr>
                <td style="background-color: grey">
                    <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
